body {
  font-family: 'Roboto', 'Arial';
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linksDiv {
  row-gap: 20px;
}

.linksDiv p {
  opacity: .5;
}

.locked {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}